*,
  *::before,
  *::after {
  	margin:0;
  	padding:0;
  	box-sizing: border-box;
  }
 .clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: "Meiryo";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}

body {
  font-family: "Meiryo";
  background-color: #ffcccc;
}
 

.header {
  height: 270px;
  border:5px solid white;
  border-radius: 10px;
  width: 100%;
  position: relative;
  display: flex;
}

.header-left img {
  width:25%;
  margin-left:35px;
  margin-top:20px;
  justify-content: space-around;
}

.maru {
  border: 1px solid pink ; 
  border-radius: 100px;
}

.header-right {
  float:right;
  color:#cc0066;
  letter-spacing: 8px;
  position: absolute;
  top:40px;
  right:120px;
}

.header-right h1 {
 	font-size:60px;
}

.header-right h3 {
  text-align: center; 
}

.aside {
  float:left;
  font-size:25px;
  width:20%;
  text-align: center;
  height: 680px;
  margin-top: 20px;
  margin-left: 20px;
}

.aside a {
  display:block;
  height:100px;
  padding-top:25px;
  font-weight:bold;
  color: #cc0066;
  line-height: 20px;
  transition: all 1s;
}

.aside :hover {
  background-color:#ff88ff;
}

.article {
 	background-color:#FFCCCC;
 	height:680px; 
  position:relative;
  font-weight: 600;
  width: 77%;
  float:right;
  
}

.article h1 {
  text-align: center;
  padding-top: 10px;
  color: #cc0066;
}

.fa-cog {
  opacity: 0.6;
}

.article img {
  border: 3px solid pink ;
}

.article p {
  text-align: center;
  color: #cc0066;
  font-size: 16px;
}

.container-1 {
  position: absolute;
  top:75px;
  right:700px;
}   

.container-2 {
  position: absolute;
  top:75px;
  right:410px;
}

.container-3 {
  position: absolute;
  top:75px;
  right:100px;
}

.container-4 {
  position: absolute;
  top:370px;
  right:720px;
}

.container-5 {
  position: absolute;
  top:370px;
  right:390px;
}

.container-6 {
  position: absolute;
  top:370px;
  right:100px;
}

.footer {
	
  height:320px;
  position:relative;
  border:5px solid white;
  border-radius: 10px;
  margin-top:10px ;
  width: 100%;
}

.footer-left h3{
  padding-top:10px;
	margin-bottom:10px;
	font-size: 35px;
}

.footer-left {
	padding-top:20px;
	padding-left: 70px;
  color:#cc0066;
}

.footer-left p {
	line-height: 40px;
  font-size:20px;
}

.footer-center {
  width: 400px;
  position: absolute;
  top:5px;
  right:450px;
  color:#cc0066;
}

.footer-logo {
  padding-left:35px;
}

.fa-wheelchair {
  padding-left: 10px;
}

.map {
  border: 2px solid pink ;
}

.footer-right {
  position:absolute;
  top:40px;
  right:50px;
  color:blue;
  font-size:30px;
}

.fa-facebook-square { 
  padding:3px 3px 3px 10px;
}

.fa-facebook-square:hover {
  color: #0066ff;
}

.fa-twitter-square {
  color: #0066ff;
}

.fa-twitter-square:hover {
  color:blue;
}

.fa-youtube-square {
  color: red;
  margin-top:10px;
  margin-left:10px;
}

.fa-youtube-square:hover {
  color: #aa0000 ;
}

.sns p {
  font-size:25px;
  color:#cc0066;
}


@media all and (max-width: 1024px){
.header {
  width: 40%;
  height: 400px;
  position: relative;
 }

 .header-left img {
  width:20%;
 } 

.header-right {
  position: absolute;
  top:100px;
  
  
}


.header-right h1  {
  font-size: 25px;
}

.header-right h3 {
  font-size: 18px;
}
 .aside {
  width:55%;
  font-size:25px;
 } 

.article {
  width:55%;
}
 


.footer {
  width: 55%;
  height: 800px;
  position: relative;
}

.footer-center {
  position: absolute;
  left:500px;
  top:30px;
 }

.footer-right {
  position: absolute;
  top:330px;
  right:250px;
 }

}